#box01{
    color: navy;
    font-family: sans-serif;
    text-decoration: none;
    font-size: 30px;
}

#box02{
        color: #117A65;
        font-family: sans-serif;
        font-weight: bold;
        font-size: 25px;
}
#box03{
        font-weight: bold;
        font-size: 30px;
        color: maroon;
        font-family: sans-serif;
        cursor: pointer;
}
:hover#box03{
        color: orangered;
}
#box04{
        font-weight: bold;
        font-size: 30px;
        color: maroon;
}
#box05{
        font-weight: bold;
        font-size: 20px;
        color: navy;
        font-family: sans-serif;
}
#box06{
    cursor: pointer;
}
.button6 a{
    position: absolute;
    top: 500px;
    left: 440px;
    display: block;
    height: 40px;
    width: 100px;
    background: #00b7ea;
    /*TYPE*/
  color: yellow;
  font: 17px/40px Helvetica, Verdana, sans-serif;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
    border-radius: 10px;
}
span{
        position: absolute;
        left: 120px;
        top: 420px;
        font-weight: bold;
        font-size: 30px;
        color: maroon;
        font-family: sans-serif;
        cursor: pointer;
}
span:hover{
        color: orangered;
}


a{
        text-decoration: none;
}